<footer class="site-footer">
<div class="footer-constrain">

<a target="_blank" rel="author" href="http://www.amazon.com/SAT-Grammar--Prioritized-Bettie-Wailes/dp/193846401X/ref=sr_1_1?s=books&ie=UTF8&qid=1407021906&sr=1-1&keywords=sat+grammar--prioritized">
<img class="footer-book" id="bookone" src="{{ site.baseurl }}{{ site.bookone }}">
</a>

<a target="_blank" rel="author" href="http://www.amazon.com/dp/1938464001/ref=cm_sw_su_dp">
<img class="footer-book" id="booktwo" src="{{ site.baseurl }}{{ site.booktwo }}">
</a>

<div class="books-header">
<h1 class="footer-header">
<em>SAT Words - Prioritized</em> and <em>SAT Grammar - Prioritized</em> by Bettie Wailes
</h1>

</div>

<svg class="icon" viewBox="0 0 80 60">
    <use xlink:href="#frill" />
</svg>

<p class="clear">
The only books to group words according to importance, and grammar concepts in order of importance. These are the most valuable SAT books on the market for vocabulary and grammar! Each is available for purchase in our office (only $12 each, save on shipping!) or buy online from Amazon, Barnes & Noble, and other online booksellers.
</p>


<div class="footer-address">
    <div itemscope itemtype='http://schema.org/Organization'>
        <span itemprop='name'>Wise Owl Tutoring</span>
        <div itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
            Crossroads Business Center<br>
            <span itemprop='streetAddress'>925 S. Semoran Blvd, Suite 104<br></span>
            <span itemprop='addressLocality'>Winter Park</span>, <span itemprop='addressRegion'>FL</span> <span itemprop='postalCode'>32792</span>
        </div> <!--end address-->

        <!--invisible content-->
        <div itemprop='location'>
            <span itemscope itemtype='http://schema.org/Place'>
                <div itemprop='geo'>
                    <span itemscope itemtype='http://schema.org/GeoCoordinates'>
                        <span property='latitude' content='28.5845'></span>
                        <span property='longitude' content='-81.3060'></span>
                    </span>
                </div>
            </span>
        </div>
        <!--end invisible content-->

    </div> <!--end organization-->
</div> <!--end address-->
    
    

<div class="footer-phone">
    Phone and Email<br>
    <span itemprop='telephone'>(407) 678-4945<br></span>

    info@wiseowltutoring.net<br>

    Facebook | Twitter | Schedulicity
</div>

<div class="footer-hoo">
Hours of Operation<br>
Monday - Thursday Noon - 10:00 p.m.
Friday : 2:00pm 6:00 p.m.
Saturday - Sunday Varies by tutor
</div>

<p class="footer-footnote">
Copyright © 2013 Wise Owl Tutoring, LLC. All Rights Reserved.
</p>

</div>
</footer>